@model E_Trade.MvsWebUI.Models.Card
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Shopping Cart</h2>
            @if (Model.CardLines.Count > 0)
            {
                <table class="table table-bordered">
                    <thead style="color:white">
                        <tr>
                            <th></th>
                            <th>Quantity</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Sub Total</th>
                        </tr>
                    </thead>
                    <tbody style="color:white">
                        @foreach (var item in Model.CardLines)
                        {
                            <tr style="height:50px">
                                <td style="align-items:center;width:30px"><img src="~/Theme/img/@item.Product.PictureUrl" width="30" /></td>
                                <td>@item.Quantity</td>
                                <td>@item.Product.Name</td>
                                <td>@item.Product.Price</td>
                                <td>@((item.Product.Price * item.Quantity).ToString("c")) </td>
                                <td width="50px">
                                    @using (Html.BeginForm("RemoveFromCard", "Card"))
                                    {
                                        @Html.Hidden("Id", item.Product.Id)
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                    <tfoot style="color:white">
                        <tr>
                            <td colspan="5"></td>
                            <td>@Model.Total().ToString("c")</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="text-center">
                    <a href="/Card/Order" class="btn btn-primary">
                        <i class="bi bi-chevron-double-left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </i>
                        Come Back
                    </a>
                    <a href="/Card/Order" class="btn btn-primary">
                        <i class="bi bi-check-all">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                                <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z" />
                            </svg>
                        </i>
                        Complated
                    </a>
                </div>
            }

            else
            {
                <div class="alert alert-warning" role="alert">
                    Please add a product!
                </div>
            }

        </div>

    </div>
</div>

