@using E_Trade.MvsWebUI.Entity;
@model Order

@{
    ViewBag.Title = "Order";
}
<div class="text-center"><strong>Please all area fill</strong></div>
<br />
<div class="container">
    @using (Html.BeginForm("Order", "Card", FormMethod.Post, new { enctype = "multipart/form-date" }))
    {

        <div class="row" style="margin-left:270px">
            <div style="margin-bottom: 10px; width: 35%" class="col-md-3">
                @Html.TextBoxFor(i => i.UserName, new { @placeholder = "UserName", @class = "form-control" })
            </div>
            <div style="margin-bottom: 10px; width: 35%" class="col-md-3">
                @Html.TextBoxFor(i => i.Adress, new { @placeholder = "Adress", @class = "form-control" })
            </div>
            <div style="margin-bottom: 10px; width: 35%" class="col-md-3">
                @Html.TextBoxFor(i => i.City, new { @placeholder = "City", @class = "form-control" })
            </div>
            <div style="margin-bottom: 10px; width: 35%" class="col-md-3">
                @Html.TextBoxFor(i => i.District, new { @placeholder = "District", @class = "form-control" })
            </div>
            <div style="margin-bottom: 10px; width: 35%" class="col-md-3">
                @Html.TextBoxFor(i => i.Street, new { @placeholder = "Street", @class = "form-control" })
            </div>
            <div style="margin-bottom: 10px; width: 35%" class="col-md-3">
                @Html.TextBoxFor(i => i.PostCode, new { @placeholder = "PostCode", @class = "form-control" })
            </div>

        </div>

        <button class="btn btn-success" style="margin-left:280px">Enter</button>
    }

</div>

