@using E_Trade.MvsWebUI.Entity;
@model Product
@{
    ViewBag.Title = "Details";
}

<div class="container ">
    <div class="page-title">
        <br />
        <h1>Details</h1>
    </div>
    <br />
    <div class="row">
        <div class=" col-md-6">
            <div class="content" id="f-deteil">
                <img class="card-img" src="/Theme/img/@Model.PictureUrl" alt="" id="d-img">
            </div>
        </div>
        <div class="col-md-6">
            <div class="row" id="deskription-product">
                <div class="col-md-12">
                    <h1>@Model.Name</h1>
                    <br>
                    <span class="badge badge-primary">Stok Quantity</span>
                    <span class="produck-number">@Model.Stock</span>
                    <div id="description">
                        @Model.Description
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="row" id="add-to-card">
                <h4>@Model.Price<span>$</span></h4>
                @using (Html.BeginForm("AddToCard", "Card", FormMethod.Post))
                {
                    @Html.HiddenFor(i => i.Id)
                    <button type="submit" style="width:50%;" id="btn-add">Add To Card</button>
                }

            </div>
        </div>
        <div class="container">
            <h1 style="text-align:center;margin:50px 0px 0px 80px">RECOMMENDED FOR YOU</h1>
            <div class="row" id="details-product">
                @Html.Action("GetProducts", "Home")
            </div>
        </div>
    </div>

</div>
