@using E_Trade.MvsWebUI.Entity;
@model IEnumerable<Product>
@{
    ViewBag.Title = "List";
}

<div class="card-story">
    <!-- Coursel -->
    <!-- slider-card -->
    <span class="card" id="story-card">
        <img class="card-img-top" src="~/Theme/img/a-8.jpg" alt="Card image">
    </span>
    <span class="card" id="story-card">
        <img class="card-img-top" src="~/Theme/img/pexels-shane-aldendorff-1302321.jpg" alt="Card image">
    </span>
    <span class="card" id="story-card">
        <img class="card-img-top" src="~/Theme/img/shos-13.jpg" alt="Card image">
    </span>
    <span class="card" id="story-card">
        <img class="card-img-top" src="~/Theme/img/shos-12.jpg" alt="Card image">
    </span>
    <!-- slider-card -->
    <span class="card" id="story-card">
        <img class="card-img-top" src="~/Theme/img/a-4.jpg" alt="Card image">
    </span>
    <span class="card" id="story-card">
        <img class="card-img-top" src="~/Theme/img/a-5.jpg" alt="Card image">
    </span>
</div>
<div class="container">
    <div class="page-title" style="text-align:center;margin-left:50px;">
        <h1>Products</h1>
    </div>
    <div class="row">
        <!--Kategory-->
        <div class="category col-md-3 w-20">
            @Html.Action("GetCategories", "Home")
        </div>
        <div class="col-md-9">
            <div class="row" id="list-prdt">
                @if (Model.Count() == 0)
                {
                    <div class="alert alert-danger" role="alert" style="margin:50px 0px 0px 30px">
                        <strong>Warning!!!</strong> This is a Secondary noting Product
                    </div>
                }
                else
                {
            <div class="alert alert-light" role="alert" style="margin:50px 0px 0px 30px;">
                <strong>@Model.Count() count </strong> product found <i class="fa fa-star checked"></i>
</div>
                }
                @foreach (var item in Model)
                {
                    <div class="content col-md-3">
                        <img class="card-img" src="/Theme/img/@item.PictureUrl" alt="">
                        <div class="card-body">
                            <h5 class="acrd-title">@item.Name</h5>
                            <p class="card-text">@item.Description</p>
                            <h5 class="acrd-title">@item.Price<span>$</span></h5>
                            <ul>
                                <li><i class="fa fa-star checked"></i></li>
                                <li><i class="fa fa-star checked"></i></li>
                                <li><i class="fa fa-star checked"></i></li>
                                <li><i class="fa fa-star "></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <button><a href="/Home/Details/@item.Id" style="text-decoration:none;color:white">Button</a></button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

